<article class="story">
  <h1><%== @story.title_with_ruby %></h1>

  <div class="story"%>
    <%== @story.body %>
  </div>

  <%= link_to "View Original", @story.url, class: "story__link--original" %>
</article>
