<article class="story">
  <h1><%== @story.title_with_ruby.gsub("　", "<br>") %></h1>

  <div class="story"%>
    <%== @story.body %>
  </div>

  <%= link_to "View Original", @story.url, class: "story__link--original" %>
</article>

<script type="text/javascript">
  $(function() {
    $(".lookup").click(function() {
      var term = $($(this).html().replace(/<rt>.*<\/rt>/, "")).text();
      window.location = "http://jisho.org/search/" + term;
    });
  });
</script>
