/*
 *= require_tree .
 *= require_self
 */

$background-color: #fef8e8;
$foreground-color: #2f4f4f;
$location-color: #0041ff;
$header-color: #9Bd855;
$name-color: #b817af;
$company-color: #08a2f1;
$link-color: #5889e9;
$visited-color: #E4207D;
$item-color: #FAF672;

$break-small: 736px;

body {
  font-size: 1.4em;
  font-family: sans-serif;
  background-color: $background-color;
  color: $foreground-color;
}

a { color: $link-color; }
a:visited { color: $visited-color; }

.stories {
  text-align: center
  h1 { text-align: center; }

  &__group {
    margin: 0 auto;
    h2 {
      width: calc(100% - 16px);
      margin: 0 auto;
      text-align: center;
      background-color: $header-color;
      color: lighten($background-color, 10%);
      padding: 8px 0;
      margin-bottom: 8px;
      font-size: 1em;
    }
  }

  &__list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: calc(100% - 16px);

    &__item {
      padding-top: 8px;
      background-color: darken($background-color, 10%);
      margin-bottom: 8px;
      a {
        font-weight: bold;
        text-decoration: none;
        padding: 8px 16px;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        font-size: 1.5em;
        font-size: 3vw;
      }
    }
  }
}

footer {
  margin-top: 32px;
  text-align: center;
}

footer ul {
  display: block;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;

  li {
    display: block;
    background-color: darken($background-color, 5%);
    box-sizing: border-box;
    padding: 8px 16px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 0.6em !important;

    a {
      color: darken($background-color, 50%) !important;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

a[rel=previous] + a[rel=next] {
  margin-left: 16px;
}

h1 { text-align: center; }

article.story {
  font-size: 1em;
  font-size: 4vw;
  width: calc(100% - 32px);
  margin: 0 16px;
  p { text-align: justify; }
}

nav.pagination {
  margin: 0 auto;
  text-align: center;
}

.colorL {
  color: $location-color;
}

.colorN {
  color: $name-color;
}

.colorC {
  color: $company-color;
}

.lookup {
  text-decoration: underline;
  cursor: pointer;
}
