/*
 *= require_tree .
 *= require_self
 */

$background-color: #fbf2e0;
$foreground-color: #2f4f4f;
$location-color: #0041ff;
$name-color: #b817af;
$company-color: #08a2f1;

$break-small: 736px;


body {
  font-size: 1.4em;
  font-family: sans-serif;
  background-color: $background-color;
  color: $foreground-color;
}

.stories {
  text-align: center
  h1 { text-align: center; }

  &__list {
    display: inline-block;
    text-align: left;
    list-style: none;

    &__item a {
      text-decoration: none;
      padding: 8px 0;
      display: block;
    }
  }
}

footer {
  margin-top: 64px;
  text-align: center;
}

footer ul {
  display: block;
  list-style-type: none;
  text-align: center;

  li {
    display: block;
  }

  a {
    color: darken($background-color, 50%);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    padding: 8px 20px;
    background-color: darken($background-color, 5%);
    margin-bottom: 16px;
  }
}

article.story {
  width: calc(100% - 192px);
  margin: 0 96px;
  p { text-align: justify; }
  h1 { text-align: center; }
  @media only screen and (max-width : $break-small) {
    font-size: 2em;
    width: calc(100% - 96px);
    margin: 0 48px;
  }
}


.colorL {
  color: $location-color;
}

.colorN {
  color: $name-color;
}

.colorC {
  color: $company-color;
}

.lookup {
  text-decoration: underline;
  cursor: pointer;
}
