/*
 *= require_tree .
 *= require_self
 */

$background-color: #fbf2e0;
$foreground-color: #2f4f4f;
$location-color: #0041ff;
$name-color: #b817af;
$company-color: #08a2f1;

$break-small: 736px;

body {
  font-size: 1.4em;
  font-family: sans-serif;
  background-color: $background-color;
  color: $foreground-color;
}

.stories {
  text-align: center
  h1 { text-align: center; }

  &__group {
    margin: 0 auto;
    h2 {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      background-color: darken($background-color, 70%);
      color: lighten($background-color, 10%);
      padding: 16px 0;
      margin-bottom: 16px;
    }
  }

  &__list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;

    &__item {
      padding-top: 16px;
      background-color: darken($background-color, 10%);
      margin-bottom: 16px;
      a {
        text-decoration: none;
        padding: 8px 16px;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        font-size: 1.5em;
      }
    }
  }
}

footer {
  margin-top: 64px;
  text-align: center;
}

footer ul {
  display: block;
  list-style-type: none;
  text-align: center;

  li {
    display: block;
    background-color: darken($background-color, 5%);
    padding: 8px 16px;
    margin-bottom: 16px;
    width: 90%;
    @media only screen and (max-device-width : $break-small) {
      font-size: 2em;
      margin-bottom: 32px;
      padding: 16px 32px;
    }
    @media only screen and (max-width : $break-small) {
      font-size: 2em;
      margin-bottom: 32px;
      padding: 16px 32px;
    }
  }

  a {
    color: darken($background-color, 50%);
    font-weight: bold;
    text-decoration: none;
  }
}

h1 { text-align: center; }

article.story {
  width: calc(100% - 192px);
  margin: 0 96px;
  p { text-align: justify; }
  @media only screen and (max-device-width : $break-small) {
    font-size: 2em;
    width: calc(100% - 96px);
    margin: 0 48px;
  }
  @media only screen and (max-width : $break-small) {
    font-size: 2em;
    width: calc(100% - 96px);
    margin: 0 48px;
  }
}

nav.pagination {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

.colorL {
  color: $location-color;
}

.colorN {
  color: $name-color;
}

.colorC {
  color: $company-color;
}

.lookup {
  text-decoration: underline;
  cursor: pointer;
}
